name: Run frontend tests

on:
  pull_request:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install nodejs modules
        run: yarn
        working-directory: ./frontend
      - name: Run tests
        run: yarn test
        working-directory: ./frontend
